Hola {{user_name}}!!
<hr>

<form action='.' method='post'>
    {% csrf_token %}
{{form}}
<button type='submit'>Guardar</button>

</form>

{%if form.errors%}
{{form.errors}}
{%endif%}


{%for inventario in lista%}
<p>{{inventario.nombre}} - {{inventario.proveedor}}</p>
{%endfor%}